* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.vatan-logo {
  height: 65px;
  width: 130px;
}

.header-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: #0153a6;
  width: 80%;
  position: relative;
  left: 12%;
}

.nav {
  height: 10vh;
  font-family: "Roboto";
  position: absolute;
  top: 0;
  color: white;
}

.nav i {
  color: white;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media screen and (max-width: 1420px) {
  .header-div {
    position: relative;
    left: 12%;
  }

  .one-cikan-urunler {
    margin-left: 40px !important;
  }

  .nav-ul {
    font-size: 14px;
  }

  .nav-input {
    width: 60;
    height: 30;
  }
}

@media screen and (max-width: 1307px) {
  .one-cikan-urunler {
    grid-template-columns: 200px 200px 200px 200px !important;
    margin-left: 250px !important;
  }
}

@media screen and (max-width: 1077px) {
  .one-cikan-urunler {
    grid-template-columns: 200px 200px 200px !important;
    margin-left: 150px !important;
  }
}

@media screen and (max-width: 783px) {
  .one-cikan-urunler {
    grid-template-columns: 200px 200px !important;
    margin-left: 190px !important;
  }
}

@media screen and (max-width: 585px) {
  .one-cikan-urunler {
    grid-template-columns: 180px !important;
    margin-left: 120px !important;
  }
}

@media screen and (max-width: 400px) {
  .one-cikan-urunler {
    grid-template-columns: 180px !important;
    margin-left: 80px !important;
  }
}

.nav-input {
  background-color: #4383cb;
  min-width: 50px;
  opacity: 0.6;
  width: 100px;
  border: none;
  color: white;
  height: 50px;
  width: 190px;
  border-radius: 3px;
}

.icon {
  color: black;
}

.fa-lira-sign {
  font-weight: normal;
}

.one-cikan-urunler {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  margin-left: 150px;
}

.ul-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 20px;
}

.span-sepet {
  padding: 0 10px;
}

.product-container:hover {
  border: 1px solid #0153a6;
}

.product-container {
  border: 1px solid #b1b1b1;
  min-width: 200px;
  transition: all 0.1s ease;
}

.span-kargo {
  background-color: #eeeeee;
  color: #b1b1b1;
  padding: 10px 6px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  font-size: 12px;
  font-family: "Arial";
  visibility: visible;
}

.product-container:hover .span-kargo {
  visibility: hidden;
}

.star-span {
  font-size: 13px;
  color: #f79109;
}

.u-comment,
.u-code {
  font-size: 13px;
  color: #b1b1b1;
}

.li-code {
  padding-top: 30px;
}

.li-kargo {
  margin-top: 30px;
}

.li-title {
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}

.li-price {
  font-size: 17px;
  color: #0153a6;
}

.li-button-blue {
  visibility: hidden;
  width: 100%;
}

.product-container:hover .li-button-blue {
  visibility: visible;
}

.u-price {
  font-weight: 600;
}

.one-cikan-urunler-upper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.one-cikan-h3 {
  color: #41494f;
  line-height: 1.6;
  font-size: 24px;
}

.one-cikan-a {
  color: #1564c0;
  text-decoration: none;
  font-weight: 500;
  font-family: "Arial";
  font-size: 16px;
}

.swiper-container {
  width: 60%;
  height: 60%;
}
.swiper-slide {
  text-align: center;
  background: #fff;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide-new {
  text-align: center;
  background: #fff;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-wrapper-new {
  display: flex;
  margin: 20px 50px;
}

.sepet-btn {
  background-color: #2196f3;
  color: white;
  font-family: "Arial";
  border: 1px solid #2196f3;
  margin: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.sepet-btn:hover {
  background-color: #47a7f5;
  border: 1px solid #47a7f5;
}

.sepet-btn:hover .fa-exchange-alt {
  background-color: #1c6ab8;
  border: 1px solid #1c6ab8;
}

.sepete-ekle {
  background-color: #2196f3;
  color: white;
  font-family: "Arial";
  border: 1px solid #2196f3;
  padding: 10px 20px;
  cursor: pointer;
}

.fa-exchange-alt {
  background-color: #0153a6;
  color: white;
  font-family: "Arial";
  border: 1px solid #0153a6;
  height: 100%;
  padding: 10px 15px;
}

#sepet-li {
  text-align: center;
  padding-left: 10px;
  padding-top: 20px;
}

#sepet-li:hover .kek-div {
  visibility: visible;
}

.sepet-wrapper {
  text-align: center;
}
